:root {
    --primary-color: #1a1a1a;
    --secondary-color: #282828;
    --accent-color: #fffd00;
}

body {
    background-color: var(--primary-color);
    padding: 1%;
    color: #f1f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin: 1% 0;
    background-color: rgba(255, 0, 0, 0.381);
    padding: 2%;
    border-radius: 5px;
}

.success-message {
    color: green;
    font-size: 0.8rem;
    margin: 1% 0;
    background-color: rgba(0, 255, 0, 0.312);
    padding: 2%;
    border-radius: 5px;
}


.reset-password {
    display: flex;
    justify-content: center;
}

.reset-password-form {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 2%;
    border-radius: 5px;
    margin: 5% 0;
}

.form-contents {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}

.form-contents input {
    margin: 2% 0;
    padding: 2%;
    border-radius: 5px;
}

.form-contents button {
    margin: 2% 0;
    padding: 2%;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}